/* You can add global styles to this file, and also import other style files */
* {
    scrollbar-width: thin;
    scrollbar-color: #878089 #474747;
}

html {
    background: #A9A9A9
}

body {
    background: #A9A9A9
}